In [2]:
import pandas as pd

Load Dataframe

In [4]:
df = pd.read_csv('Employee_Salary.csv')

In [5]:
print("-------------Dataframe Described-------------")
print(df.describe())
print("\n")

-------------Dataframe Described-------------
              ID  Experience        Age        Salary
count  35.000000   34.000000  35.000000  3.500000e+01
mean   18.000000    9.147059  35.485714  2.059147e+06
std    10.246951    7.659940  14.643552  3.170124e+06
min     1.000000    1.000000  17.000000  3.000000e+03
25%     9.500000    2.250000  22.500000  2.250000e+04
50%    18.000000    5.500000  29.000000  2.500000e+05
75%    26.500000   15.000000  53.500000  3.270000e+06
max    35.000000   27.000000  62.000000  1.000000e+07

In [6]:
print("-------------Dataframe Shape-----------------")
print(df.shape)
print("\n")

-------------Dataframe Shape-----------------
(35, 5)

In [7]:
print("-------------Dataframe Size-----------------")
print(df.size)
print("\n")

-------------Dataframe Size-----------------
175

In [15]:
print("-------------Dataframe Min Value-----------------")
print(df["Experience"].min())
print("\n")

-------------Dataframe Min Value-----------------
1.0

In [17]:
print("-------------Dataframe Max Value-----------------")
print(df["Experience"].max())
print("\n")

-------------Dataframe Max Value-----------------
27.0

In [19]:
print("-------------Age Column Mean-----------------")
print(df['Age'].mean())
print("\n")

-------------Age Column Mean-----------------
35.48571428571429

In [20]:
print("-------------Age Column Median-----------------")
print(df['Age'].median())
print("\n")

-------------Age Column Median-----------------
29.0

In [10]:
print("-------------Age Column Mode-----------------")
print(df['Age'].mode())
print("\n")

-------------Age Column Mode-----------------
0    36
Name: age, dtype: int64

In [24]:
print("-------------Age Column Standard Deviation-----------------")
print(round(df['Age'].std(),4))
print("\n")

-------------Age Column Standard Deviation-----------------
14.6436

In [22]:
print("-------------Age Column Descibe-----------------")
print(round(df['Age'].describe(),3))
print("\n")

-------------Age Column Descibe-----------------
count    35.000
mean     35.486
std      14.644
min      17.000
25%      22.500
50%      29.000
75%      53.500
max      62.000
Name: Age, dtype: float64

In [25]:
print("-------------Age Column Grouped By Education (Describe)-----------------")
print(df['Age'].groupby(df['Gender']).describe())
print("\n")

-------------Age Column Grouped By Education (Describe)-----------------
        count       mean        std   min   25%   50%   75%   max
Gender
Female   17.0  37.705882  15.711320  21.0  23.0  34.0  54.0  62.0
Male     17.0  33.764706  13.997899  17.0  22.0  29.0  40.0  62.0